@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.h2 {
  color: white;
}
body {
  background: #2c0800;
  min-height: 50vh;
  overflow-x: hidden; /* overflow-x: hidden; rule prevents horizontal scrolling. */
}

/* navagation menu / top bar */

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 56px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* decides the order of the layers */
  z-index: 100;
}

.logo {
  /* 1 em = 12pt size */
  font-size: 2em;
  color: white;
  pointer-events: none;
  margin-right: 400px;
}

.navagation a {
  text-decoration: none;
  color: white;
  padding: 6px 15px;
  border-radius: 20px;
  margin: 0 10px;
  font-weight: 600;
  font-size: 16pt;
}

/* for creating hover effect */

.navagation a:hover,
.navagation a.active {
  background: orange;
  color: white;
}

/* parallax section */

.parallax {
  /* relative means normal positon */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-bottom: 0px;
  z-index: -100;
}

.parallax img {
  position: absolute;
  width: 100%;
}

#text {
  position: absolute;
  font-size: 5em;
  color: white;
  text-shadow: 2px 2px 4px rgpa(0, 0, 0, 0.2);
}

.sec {
  position: relative;
  background: #2c0800;
  padding: 50px;
}

/* for the heading */
.sec h2 {
  font-size: 3em;
  color: white;
  margin-bottom: 10px;
}

/* for the paragraph of the undrground */
.sec p {
  font-size: 1em;
  color: white;
  line-height: 2em;
  font-weight: 300;
  padding-bottom: 20px;
  font-size: 16pt;
}

/* more is for the button */
.more {
  background-color: #f15437;
  color: white;
  padding: 6px 23px;
  border-radius: 5px;
  margin: 24px 0px;
  font-weight: 600;
  width: 120px;
}

/* removing the the underline */
.more a {
  text-decoration: none;
}

/* removeing the blue color of the link */
.more a:visited,
.more a:link,
.more a:active {
  text-decoration: none;
  color: white;
  font-size: 16pt;
}

/* card */

.card {
  display: flex;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  height: 260px;
  display: center;
  margin: 50px;
}

.card img {
  width: 300px;
  /* height: 300px; */
  object-fit: cover;
  padding: 0px 20px;
  border-radius: 60px;
  margin: -40px;
  background-color: rgba(0, 0, 0, 0.1);
}

.card-content {
  padding: 27px 48px;
  align-items: center;
  color: white;
  padding-left: 80px;
}
.card h2 {
  margin: 0;
  font-size: 24pt;
}

.card p {
  margin-top: 16px;
  font-size: 16pt;
}
.text-person {
  height: 123px;
  color: white;
  padding: 50px;
  font-size: 42px;
}

.text-person {
  width: 1067px;
  height: 0px;
  color: white;
  padding-bottom: 100px;
}

#map-image {
  width: 4000px;
  height: 522px;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background-color: #f15437;
  color: white;
  font-size: medium;
  margin-top: 72px;
}
